{include="header"}

{if="$fsc->amortizacion"}

<script type="text/javascript">
   
   $(document).ready(function () {
      $('#b_eliminar').click(function (event) {
         event.preventDefault();
         $('#modal_eliminar').modal('show');
      });
      $('#b_vender').click(function (event) {
         event.preventDefault();
         $('#modal_vender').modal('show');
      });
      $('#b_contabilizar').click(function (event) {
         event.preventDefault();
         $('#modal_contabilizar').modal('show');
      });
      $('#b_finalizar').click(function (event) {
         event.preventDefault();
         $('#modal_finalizar').modal('show');
      });
      $('#b_reanudar').click(function (event) {
         event.preventDefault();
         $('#modal_reanudar').modal('show');
      });
      $('#b_tabla_subcuentas').click(function (event) {
         event.preventDefault();
         cargar('#tabla_subcuentas', '/facturascripts/index.php?page=tabla_subcuentas')
         $('#modal_subcuentas').modal('show');
      });
   });
   function cargar(div, desde)
   {
      $(div).load(desde);
   }
</script>
<div class="modal fade" id="modal_subcuentas">
   <div class="modal-dialog" style="width: 1700px;">
      <div class="modal-content">
         <div id="tabla_subcuentas"></div>
      </div>
   </div>
</div>

<div class="container-fluid">
   <form action="index.php?page=amortizaciones&editar=true" method="post" class="form">      
      <div class="row">
         <div class="col-xs-12 text-right">
            <div class="btn-group">
               <a id="b_eliminar" class="btn btn-sm btn-danger">
                  <span class="glyphicon glyphicon-remove"></span>
                  <span class="hidden-sm hidden-xs">
                     &nbsp;Eliminar
                  </span>
               </a>
               <a id="b_vender" class="btn btn-sm btn-warning">
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  <span class="hidden-sm hidden-xs">
                     &nbsp;Vender
                  </span>
               </a>
               {if="$fsc->amortizacion->fin_vida_util == 0"}
               {if="$fsc->amortizacion->amortizando == 0"}
               <a id="b_reanudar" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-open"></span>
                  <span class="hidden-sm hidden-xs">
                     &nbsp;Reanudar
                  </span>
               </a>
               {/if}
               <a id="b_contabilizar" class="btn btn-sm btn-success" href="index.php?page=amortizaciones&count={$fsc->amortizacion->id_amortizacion}&year={$fsc->today()}">
                  <span class="glyphicon glyphicon-save"></span>
                  <span class="hidden-sm hidden-xs">
                     &nbsp;Contabilizar
                  </span>
               </a>
               <a id="b_finalizar" class="btn btn-sm btn-danger" href="index.php?page=amortizaciones&end={$fsc->amortizacion->id_amortizacion}&year={$fsc->today()}">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-sm hidden-xs">
                     &nbsp;Finalizar vida útil
                  </span>
               </a>
               <button class="btn btn-sm btn-primary" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">
                     &nbsp;Guardar
                  </span>
               </button>
               {/if}
            </div>
         </div>
      </div>

      <!--CABECERA DE LA PÄGINA-->
      <div class="row page-header">
         <div class="col-md-5">
            <div>
               <h1>
                  Amortización sobre la factura 
                  <small>{$fsc->factura->codigo}</small>
               </h1>
            </div>
         </div>
         <div class="col-md-1">
            <div>
               <h1>
                  <small>{$fsc->factura->nombre}</small>
               </h1>
            </div>
         </div>
         <div class="col-md-2">
            <div>
               <h1>
                  <small>{$fsc->factura->fecha}</small>
               </h1>
            </div>
         </div>
         <div class="col-md-4">
            <div class="text-capitalize">
               <h1>
                  <small>
                     {if="$fsc->amortizacion->vendida == 1"}
                     Vendida
                     {elseif="$fsc->amortizacion->fin_vida_util == 1"}
                     Vida útil finalizada
                     <a class="btn btn-sm btn-primary" href="index.php?page=contabilidad_asiento&id={$fsc->amortizacion->id_asiento_fin_vida}">
                        <span>Ver asiento de cierre</span>
                     </a>
                     <a class="btn btn-sm btn-success" href="index.php?page=editar_amortizacion&id={$fsc->amortizacion->id_amortizacion}&renew=True">
                        <span>Restaurar amortización</span>
                     </a>
                     {elseif="$fsc->amortizacion->completada == 1"}
                     Completada
                     {elseif="$fsc->amortizacion->amortizando == 0"}
                     Anulada
                     {else}
                     Amortizando
                     {/if}
                  </small>
               </h1>
            </div>
         </div>
      </div>

      <br/>

      <div class="row">
         <input name="id_factura" class="form-control hidden" value="{$fsc->amortizacion->id_factura}"/>
         <input name="id_amortizacion" class="form-control hidden" value="{$fsc->amortizacion->id_amortizacion}"/>
         <input name="periodo_inicial" class="form-control hidden" value="{$fsc->periodo_inicial}" readonly/>
         <input name="ano_fiscal" class="form-control hidden" value="{$fsc->ano_fiscal}"/>
         <div class="col-md-2">
            Artículo:
            <input name="descripcion" class="form-control" value="{$fsc->amortizacion->descripcion}"/>
         </div>
         <div class="col-md-2">
            Tipo:
            <input name="tipo" class="form-control" value="{$fsc->amortizacion->tipo}" readonly/>
         </div>
         <div class="col-md-2">
            Contabilización:
            <input name="contabilizacion" class="form-control" value="{$fsc->amortizacion->contabilizacion}" readonly/>
         </div>
         <div class="col-md-2">
            Amortizable:
            <input name="valor" class="form-control" value="{$fsc->amortizacion->valor}" readonly/>
         </div>
         <div class="col-md-1">
            Residual:
            <input name="residual" class="form-control" value="{$fsc->amortizacion->residual}" readonly/>
         </div>
         <div class="col-md-1">
            Años:
            <input name="periodos" class="form-control" value="{$fsc->amortizacion->periodos}" readonly/>
         </div>
         <div class="col-md-1">
            Fecha Inicio:
            <input name="fecha_inicio" class="form-control" value="{$fsc->amortizacion->fecha_inicio}" readonly/>
         </div>
         <div class="col-md-1">
            Fecha Fin:
            <input name="fecha_fin" class="form-control" value="{$fsc->amortizacion->fecha_fin}" readonly/>
         </div>
      </div>
      
      <br/>
      
      <div class="row">
         <div class="col-md-2">
            Subcuenta cierre:
            <input name="cod_subcuenta_cierre" class="form-control" value="{$fsc->amortizacion->cod_subcuenta_cierre}"/>
         </div>
         <div class="col-md-2">
            Subcuenta Debe:
            <input name="cod_subcuenta_debe" class="form-control" value="{$fsc->amortizacion->cod_subcuenta_debe}"/>
         </div>
         <div class="col-md-2">
            Subcuenta Haber:
            <input name="cod_subcuenta_haber" class="form-control" value="{$fsc->amortizacion->cod_subcuenta_haber}"/>
         </div>
         <div class="col-md-2">
            Subcuenta Haber:
            <input name="cod_subcuenta_perdidas" class="form-control" value="{$fsc->amortizacion->cod_subcuenta_perdidas}"/>
         </div>
         <div class="col-md-2">
            Subcuenta Haber:
            <input name="cod_subcuenta_beneficios" class="form-control" value="{$fsc->amortizacion->cod_subcuenta_beneficios}"/>
         </div>
         <div class="col-md-2">
            <br/>
            <a id="b_tabla_subcuentas" class="btn btn-sm btn-success" style="width: 100%;">
               <span class="glyphicon glyphicon-list"></span>
               <span>
                  &nbsp;Ver Tabla de Subcuentas
               </span>
            </a>
         </div>
      </div>

      <br/>

      <div class="table-responsive">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th width="150">Año Fiscal</th>
                  <th width="150">Periodo</th>
                  <th width="150">Fecha</th>
                  <th>Artículo</th>
                  <th width="150" class="text-right">Estado</th>
                  <th width="150" class="text-right">Cantidad a amortizar</th>
                  <th width="250" class="text-right">Contabilizar</th>
               </tr>
            </thead>
            <tbody>
               {loop="$fsc->listado_lineas"}
               <tr>
                  <td>
                     <input name="contabilizada_{$value->ano}_{$value->periodo}" class="form-control hidden" value="{$value->contabilizada}" readonly/>
                     <input name="id_amortizacion_{$value->ano}_{$value->periodo}" class="form-control hidden" value="{$value->id_amortizacion}" readonly/>
                     <input name="id_linea_{$value->ano}_{$value->periodo}" class="form-control hidden" value="{$value->id_linea}" readonly/>
                     <input name="ano_{$value->ano}_{$value->periodo}" class="form-control" value="{$value->ano}" readonly/>
                  </td>
                  <td>
                     <input name="periodo_{$value->ano}_{$value->periodo}" class="form-control" value="{$value->periodo}" readonly/>
                  </td>
                  <td>
                     <input name="fecha_{$value->ano}_{$value->periodo}" class="form-control datepicker text-right" value="{$value->fecha}"
                     {if="$value->contabilizada == 1 || $fsc->amortizacion->fin_vida_util == 1"}
                     readonly
                     {/if}/>
                  </td>
                  <td>
                     <input name="descripcion_{$value->ano}_{$value->periodo}" class="form-control" value="{$fsc->amortizacion->descripcion}" readonly/>
                  </td>
                  <td>
                     <input name="estado_{$value->ano}_{$value->periodo}" class="form-control" readonly
                            {if="$value->contabilizada == 1"}
                            value="Contabilizada"
                            {else}
                            {if="$fsc->amortizacion->fin_vida_util == 1"}
                            value="Finalizada"
                            {else}
                            value="Pendiente"
                            {/if}{/if}
                  </td>
                  <td>
                     <input name="cantidad_{$value->ano}_{$value->periodo}" class="form-control text-right"value="{$value->cantidad}"
                      {if="$value->contabilizada == 1 || $fsc->amortizacion->fin_vida_util == 1"}
                      readonly
                      {/if}/>
                  </td>
                  <td style="text-align: right;">
                     {if="$value->contabilizada == 1"}
                     <a class="btn btn-sm btn-primary" href="index.php?page=contabilidad_asiento&id={$value->id_asiento}">
                        <span>Ver asiento</span>
                     </a>
                     <a class="btn btn-sm btn-danger" href="index.php?page=editar_amortizacion&id={$fsc->amortizacion->id_amortizacion}&delete={$value->id_linea}">
                        <span>Eliminar asiento</span>
                     </a>
                     {else}
                     {if="$fsc->amortizacion->fin_vida_util == 0"}
                     <a class="btn btn-sm btn-success" href="index.php?page=amortizaciones&count={$value->id_linea}">
                        <span>Contabilizar</span>
                     </a>
                     {/if}
                     {/if}
                  </td>
               </tr>
               {/loop}
            </tbody>
         </table>
      </div>

      <div class="row">
         <div class="col-xs-12 text-right">
            <div class="btn-group">
               <a id="b_eliminar" class="btn btn-sm btn-danger">
                  <span class="glyphicon glyphicon-remove"></span>
                  <span class="hidden-sm hidden-xs">
                     &nbsp;Eliminar
                  </span>
               </a>
               <a id="b_vender" class="btn btn-sm btn-warning">
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  <span class="hidden-sm hidden-xs">
                     &nbsp;Vender
                  </span>
               </a>
               {if="$fsc->amortizacion->fin_vida_util == 0"}
               {if="$fsc->amortizacion->amortizando == 0"}
               <a id="b_reanudar" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-open"></span>
                  <span class="hidden-sm hidden-xs">
                     &nbsp;Reanudar
                  </span>
               </a>
               {/if}
               <a id="b_contabilizar" class="btn btn-sm btn-success" href="index.php?page=amortizaciones&count={$fsc->amortizacion->id_amortizacion}&year={$fsc->today()}">
                  <span class="glyphicon glyphicon-save"></span>
                  <span class="hidden-sm hidden-xs">
                     &nbsp;Contabilizar
                  </span>
               </a>
               <a id="b_finalizar" class="btn btn-sm btn-danger" href="index.php?page=amortizaciones&end={$fsc->amortizacion->id_amortizacion}&year={$fsc->today()}">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-sm hidden-xs">
                     &nbsp;Finalizar vida útil
                  </span>
               </a>
               <button class="btn btn-sm btn-primary" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">
                     &nbsp;Guardar
                  </span>
               </button>
               {/if}
            </div>
         </div>
      </div>
      
   </form>
</div>

   
<div class="modal fade" id="modal_eliminar">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">¿Realmente desea eliminar esta amortización?</h4>
         </div>
         <div class="modal-body">
            Si decide <b>eliminar</b>, la amortización se borrará de la base de datos y no se podrá reanudar. Los asientos contables que se han creado permaneceran en la contabilidad.
            <br/><br/>
            Si decide <b>anular</b> la amortización, esta no aparecerá en la pestaña pendientes de las amortizaciones, pero podrá seguir generando los asientos a través de esta misma página,
            puedes <b>reanudar</b> la amortización más adelante. 
         </div>
         <div class="modal-footer">
            <a class="btn btn-sm btn-danger pull-left" href="index.php?page=amortizaciones&delete={$fsc->amortizacion->id_amortizacion}">
               <span class="glyphicon glyphicon-trash"></span>
               <span>&nbsp;Eliminar</span>
            </a>
            <a class="btn btn-sm btn-warning" href="index.php?page=amortizaciones&cancel={$fsc->amortizacion->id_amortizacion}">
               <span class="glyphicon glyphicon-remove"></span>
               <span>&nbsp;Anular</span>
            </a>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modal_reanudar">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Reanudar amortización</h4>
         </div>
         <div class="modal-body">
            Al reanudar la amortización, esta aparecera de nuevo en la pestaña pendientes, desde donde podremos contabilizar todas las amortizaciones a la vex.
         </div>
         <div class="modal-footer">
            <a class="btn btn-sm btn-success" style="width: 100%;" href="index.php?page=amortizaciones&restart={$fsc->amortizacion->id_amortizacion}">
               <span class="glyphicon glyphicon-open"></span>
               <span>&nbsp;Reanudar</span>
            </a>
         </div>
      </div>
   </div>
</div>

<!--Queda pendiente que al darle al botón vender te permita eligir un cliente, y generar un albaran o factura-->
<div class="modal fade" id="modal_vender">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">La venta de un amortizado todavía no esta soportada</h4>
         </div>
         <div class="modal-body">
      
         </div>
         <div class="modal-footer">
            <!--
            <a style="width: 100%;" class="btn btn-sm btn-warning" href="index.php?page=amortizaciones&sale={$fsc->amortizacion->id_amortizacion}">
               <span class="glyphicon glyphicon-shopping-cart"></span>
               <span>&nbsp;Vender</span>
            </a>
            -->
         </div>
      </div>
   </div>
</div>

<!--Cuadro de asientos contables-->
<div class="modal fade" id="modal_contabilizar">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Crear asiento de la Amortización</h4>
         </div>
         <div class="modal-body">
            
            Desde este pequeño asistente podemos contabilizar varios periodos a la vez, creando sus asientos correspondientes. Ejemplo:
            <br/>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <td><b>Subcuenta + descripción</b></td>
                        <td width="100" class="text-right"><b>Debe</b></td>
                        <td width="100" class="text-right"><b>Haber</b></td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>6810000000 Amortización del inmovilizado material</td>
                        <td class="text-right">1 000.00 €</td>
                        <td class="text-right">0.00 €</td>
                     </tr>
                     <tr>
                        <td>2813000000 Amortización acumulada de maquinaria</td>
                        <td class="text-right">0.00 €</td>
                        <td class="text-right">1 000.00 €</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            
         </div>
         <div class="modal-footer">
            
            <form action="index.php?page=amortizaciones&count_by_date=true" method="post" class="form">
               <input name="id_amortizacion" class="form-control hidden" value="{$fsc->amortizacion->id_amortizacion}"/>
               <div style="text-align: left;">
                  <label style="font-size: 15px;">Contabilizar desde el</label>
                  <input style="width: 150px;text-align: left;"" name="fecha_inicial" class="form datepicker text-right" value="{$fsc->ejercicio_actual->fechainicio}"/>

                  <label style="font-size: 15px;">hasta el</label>
                  <input style="width: 150px;text-align: left;" name="fecha_final" class="form datepicker text-right" value="{$fsc->today()}"/>
               </div>
               <br/>
               <button style="width: 100%;" class="btn btn-sm btn-success" type="submit">
                  <span class="glyphicon glyphicon-save"></span>
                  <span>
                     &nbsp;Crear Asientos
                  </span>
               </button>
            </form>
            
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modal_finalizar">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Finalizar vida útil de una amortización</h4>
         </div>
         <div class="modal-body">
            Al <b>finalizar la vida útil</b> de una amortización pueden darse dos casos:
            <br/><br/>
            1. Si la amortización se ha completado, se creara un asiento para dar de baja la amortización. Ejemplo:
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <td><b>Subcuenta + descripción</b></td>
                        <td width="100" class="text-right"><b>Debe</b></td>
                        <td width="100" class="text-right"><b>Haber</b></td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>2130000000 Maquinaria</td>
                        <td class="text-right">0.00 €</td>
                        <td class="text-right">10 000.00 €</td>
                     </tr>
                     <tr>
                        <td>2813000000 Amortización acumulada de maquinaria</td>
                        <td class="text-right">10 000.00 €</td>
                        <td class="text-right">0.00 €</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            
            2. Si la amortización <b>no</b> se ha completado, se crearan 2 asientos. Ejemplo:
            <br/><br/>
            Uno para contabilizar lo amortizado durante el útlimo periodo
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <td><b>Subcuenta + descripción</b></td>
                        <td width="100" class="text-right"><b>Debe</b></td>
                        <td width="100" class="text-right"><b>Haber</b></td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>6810000000 Amortización del inmovilizado material</td>
                        <td class="text-right">250.00 €</td>
                        <td class="text-right">0.00 €</td>
                     </tr>
                     <tr>
                        <td>2813000000 Amortización acumulada de maquinaria</td>
                        <td class="text-right">0.00 €</td>
                        <td class="text-right">250.00 €</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            Y otro para dar de baja la amortización, pero lo que no se ha amortizado se contabilizara en perdidas del amortizado
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <td><b>Subcuenta + descripción</b></td>
                        <td width="100" class="text-right"><b>Debe</b></td>
                        <td width="100" class="text-right"><b>Haber</b></td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>2130000000 Maquinaria</td>
                        <td class="text-right">0.00 €</td>
                        <td class="text-right">10 000.00 €</td>
                     </tr>
                     <tr>
                        <td>2813000000 Amortización acumulada de maquinaria</td>
                        <td class="text-right">8 000.00 €</td>
                        <td class="text-right">0.00 €</td>
                     </tr>
                     <tr>
                        <td>6710000000 Pérdidas procedentes del inmovilizado material </td>
                        <td class="text-right">2 000.00 €</td>
                        <td class="text-right">0.00 €</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div class="modal-footer">        
            <form action="index.php?page=amortizaciones&endlife=true" method="post" class="form">
               <input name="id_amortizacion" class="form-control hidden" value="{$fsc->amortizacion->id_amortizacion}"/>
               <div style="text-align: left;">
                  <label style="font-size: 15px;">Fecha de baja del amortizado</label>
                  <input style="width: 150px;text-align: left;" name="fecha" class="form datepicker text-right" value="{$fsc->today()}"/>
               </div>
               <br/>
               <button style="width: 100%;" class="btn btn-sm btn-danger" type="submit">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span>
                     &nbsp;Finalizar vida útil
                  </span>
               </button>
            </form>
         </div>
      </div>
   </div>
</div>

{else}
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>No se ha seleccionado ninguna amortización.</h1>
         </div>
      </div>
   </div>
</div>

{/if}

{include="footer"}