<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h4 class="modal-title">Tabla de amortizaciones: Estimación Directa Simplificada</h4>
</div>

<div class="modal-body">
   <div class="table-responsive">
      <table class="table table-hover">

         <thead>
            <tr>
               <th>Tipo de inversiones o elementos patrimoniales</th>
               <th width="200" class="text-right">Coeficiente lineal máximo (%)</th>
               <th width="200" class="text-right">Período máximo (años)</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  <div>Edificios y otras construcciones</div>
               </td>
               <td>
                  <div class="text-right">3%</div>
               </td>
               <td>
                  <div class="text-right">68</div>
               </td>
            </tr>

            <tr>
               <td>
                  <div>Instalaciones, mobiliario, enseres y resto del inmovilizado material</div>
               </td>
               <td>
                  <div class="text-right">10%</div>
               </td>
               <td>
                  <div class="text-right">20</div>
               </td>
            </tr>

            <tr>
               <td>
                  <div>Maquinaria</div>
               </td>
               <td>
                  <div class="text-right">12%</div>
               </td>
               <td>
                  <div class="text-right">18</div>
               </td>
            </tr>

            <tr>
               <td>
                  <div>Elementos de Transporte</div>
               </td>
               <td>
                  <div class="text-right">16%</div>
               </td>
               <td>
                  <div class="text-right">14</div>
               </td>
            </tr>

            <tr>
               <td>
                  <div>Equipos para tratamiento de la información y sistemas y programas informáticos</div>
               </td>
               <td>
                  <div class="text-right">26%</div>
               </td>
               <td>
                  <div class="text-right">10</div>
               </td>
            </tr>

            <tr>
               <td>
                  <div>Útiles y herramientas</div>
               </td>
               <td>
                  <div class="text-right">30%</div>
               </td>
               <td>
                  <div class="text-right">8</div>
               </td>
            </tr>

            <tr>
               <td>
                  <div>Ganado vacuno, porcino, ovino y caprino</div>
               </td>
               <td>
                  <div class="text-right">16%</div>
               </td>
               <td>
                  <div class="text-right">14</div>
               </td>
            </tr>

            <tr>
               <td>
                  <div>Ganado equino y frutales no cítricos</div>
               </td>
               <td>
                  <div class="text-right">8%</div>
               </td>
               <td>
                  <div class="text-right">25</div>
               </td>
            </tr>

            <tr>
               <td>
                  <div>Frutales cítricos y viñedos</div>
               </td>
               <td>
                  <div class="text-right">4%</div>
               </td>
               <td>
                  <div class="text-right">50</div>
               </td>
            </tr>

            <tr>
               <td>
                  <div>Olivar</div>
               </td>
               <td>
                  <div class="text-right">2%</div>
               </td>
               <td>
                  <div class="text-right">100</div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
