<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h4 class="modal-title">Tablas de subcuentas para la contabilidad de las amortizaciones</h4>
</div>

<div class="modal-body">
   <div class="panel panel-default">
      <div class="panel-heading">Inmovilizaciones intangibles</div>
      <div class="table-responsive">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th colspan="2" width="340">Subcuenta Cierre</th>
                  <th colspan="2" width="330">Subcuenta Debe</th>
                  <th colspan="2" width="430">Subcuenta Haber</th>
                  <th colspan="2" width="380">Subcuenta Perdidas</th>
                  <th colspan="2" width="390">Subcuenta Beneficios</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <div>2000000000</div>
                  </td>
                  <td>
                     <div class="text-left">Investigación</div>
                  </td>
                  <td>
                     <div>6800000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>2800000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de investigación</div>
                  </td>
                  <td>
                     <div>6700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>7700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2010000000</div>
                  </td>
                  <td>
                     <div class="text-left">Desarrollo</div>
                  </td>
                  <td>
                     <div>6800000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>2801000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de desarrollo</div>
                  </td>
                  <td>
                     <div>6700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>7700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2020000000</div>
                  </td>
                  <td>
                     <div class="text-left">Concesiones administrativas</div>
                  </td>
                  <td>
                     <div>6800000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>2802000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de concesiones administrativas</div>
                  </td>
                  <td>
                     <div>6700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>7700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2030000000</div>
                  </td>
                  <td>
                     <div class="text-left">Propiedad industrial</div>
                  </td>
                  <td>
                     <div>6800000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>2803000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de propiedad industrial</div>
                  </td>
                  <td>
                     <div>6700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>7700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2040000000</div>
                  </td>
                  <td>
                     <div class="text-left">Fondo de comercio</div>
                  </td>
                  <td>
                     <div>6800000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div></div>
                  </td>
                  <td>
                     <div class="text-left"></div>
                  </td>
                  <td>
                     <div>6700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>7700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2050000000</div>
                  </td>
                  <td>
                     <div class="text-left">Derechos de traspaso</div>
                  </td>
                  <td>
                     <div>6800000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>2805000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de derechos de traspaso</div>
                  </td>
                  <td>
                     <div>6700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>7700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2060000000</div>
                  </td>
                  <td>
                     <div class="text-left">Aplicaciones informáticas</div>
                  </td>
                  <td>
                     <div>6800000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>2806000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de aplicaciones informáticas</div>
                  </td>
                  <td>
                     <div>6700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>7700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2090000000</div>
                  </td>
                  <td>
                     <div class="text-left">Anticipos para inmovilizaciones intangibles</div>
                  </td>
                  <td>
                     <div>6800000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div></div>
                  </td>
                  <td>
                     <div class="text-left"></div>
                  </td>
                  <td>
                     <div>6700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado intangible</div>
                  </td>
                  <td>
                     <div>7700000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado intangible</div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">Inmovilizaciones materiales</div>
      <div class="table-responsive">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th colspan="2" width="320">Subcuenta Cierre</th>
                  <th colspan="2" width="330">Subcuenta Debe</th>
                  <th colspan="2" width="490">Subcuenta Haber</th>
                  <th colspan="2" width="380">Subcuenta Perdidas</th>
                  <th colspan="2" width="390">Subcuenta Beneficios</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <div>2100000000</div>
                  </td>
                  <td>
                     <div class="text-left">Terrenos y bienes naturales</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div></div>
                  </td>
                  <td>
                     <div class="text-left"></div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2110000000</div>
                  </td>
                  <td>
                     <div class="text-left">Construcciones</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2811000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de construcciones</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2120000000</div>
                  </td>
                  <td>
                     <div class="text-left">Instalaciones Técnicas</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2812000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de instalaciones Técnicas</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2130000000</div>
                  </td>
                  <td>
                     <div class="text-left">Maquinaria</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2813000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de maquinaria</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2140000000</div>
                  </td>
                  <td>
                     <div class="text-left">Utillaje</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2814000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de utillaje</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2150000000</div>
                  </td>
                  <td>
                     <div class="text-left">Otras instalaciones</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2815000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de otras instalaciones</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2160000000</div>
                  </td>
                  <td>
                     <div class="text-left">Mobiliario</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2816000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de mobiliario</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2170000000</div>
                  </td>
                  <td>
                     <div class="text-left">Equipos para procesos de información</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2817000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de equipos para procesos de información</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2180000000</div>
                  </td>
                  <td>
                     <div class="text-left">Elementos de transporte</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2818000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de equipos para elementos de transporte</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2190000000</div>
                  </td>
                  <td>
                     <div class="text-left">Otro inmovilizado material</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2819000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de otro inmovilizado material</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">Inversiones inmobiliarias</div>
      <div class="table-responsive">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th colspan="2" width="320">Subcuenta Cierre</th>
                  <th colspan="2" width="330">Subcuenta Debe</th>
                  <th colspan="2" width="490">Subcuenta Haber</th>
                  <th colspan="2" width="380">Subcuenta Perdidas</th>
                  <th colspan="2" width="390">Subcuenta Beneficios</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <div>2200000000</div>
                  </td>
                  <td>
                     <div class="text-left">Inversiones en terrenos y bienes naturales</div>
                  </td>
                  <td>
                     <div>6820000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>2820000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>6720000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>7720000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes de las inversiones inmobiliarias</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2210000000</div>
                  </td>
                  <td>
                     <div class="text-left">Inversiones en construcciones</div>
                  </td>
                  <td>
                     <div>6820000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>2820000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>6720000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>7720000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes de las inversiones inmobiliarias</div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>

   <div class="panel panel-default">
      <div class="panel-heading">Inmovilizaciones materiales en curso</div>
      <div class="table-responsive">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th colspan="2" width="320">Subcuenta Cierre</th>
                  <th colspan="2" width="330">Subcuenta Debe</th>
                  <th colspan="2" width="490">Subcuenta Haber</th>
                  <th colspan="2" width="380">Subcuenta Perdidas</th>
                  <th colspan="2" width="390">Subcuenta Beneficios</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>
                     <div>2300000000</div>
                  </td>
                  <td>
                     <div class="text-left">Adaptación de terrenos y bienes naturales</div>
                  </td>
                  <td>
                     <div>6820000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>2820000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>6720000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>7720000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes de las inversiones inmobiliarias</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2310000000</div>
                  </td>
                  <td>
                     <div class="text-left">Construcciones en curso</div>
                  </td>
                  <td>
                     <div>6820000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>2820000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>6720000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes de las inversiones inmobiliarias</div>
                  </td>
                  <td>
                     <div>7720000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes de las inversiones inmobiliarias</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2320000000</div>
                  </td>
                  <td>
                     <div class="text-left">Instalaciones técnicas en montaje</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2812000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de instalaciones Técnicas</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2330000000</div>
                  </td>
                  <td>
                     <div class="text-left">Maquinaria en montaje</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2813000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de maquinaria</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2370000000</div>
                  </td>
                  <td>
                     <div class="text-left">Equipos para procesos de información en montaje</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>2817000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de equipos para procesos de información</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>

               <tr>
                  <td>
                     <div>2390000000</div>
                  </td>
                  <td>
                     <div class="text-left">Anticipos para inmovilizaciones materiales</div>
                  </td>
                  <td>
                     <div>6810000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización del inmovilizado material</div>
                  </td>
                  <td>
                     <div>*2819000000</div>
                  </td>
                  <td>
                     <div class="text-left">Amortización acumulada de otro inmovilizado material</div>
                  </td>
                  <td>
                     <div>6710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Pérdidas procedentes del inmovilizado material</div>
                  </td>
                  <td>
                     <div>7710000000</div>
                  </td>
                  <td>
                     <div class="text-left">Beneficios procedentes del inmovilizado material</div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>